body {
  background-color: #000000;
  color: #000000;
  font-family: Arial, sans-serif;
  padding: 1rem;
}
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "form game1"
    "form leaderboard";
  grid-template-columns: 1.5fr 2.5fr;
  gap: 5px;
  background-color: #000000;
  padding: 5px;
}
.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
    border-radius: 12px;
}
.container > div.form {
  grid-area: form;
    border-radius: 12px;
  padding: 50px;
  margin: auto;
}
.container > div.game {
  grid-area: game;
    border-radius: 12px;
}
.container > div.leaderboard {
  grid-area: leaderboard;
    border-radius: 12px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  margin-bottom: 0;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

input {
  width: 95%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 1.5rem;
  padding: 0.7rem 1.2rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #ff0000;
}