.container {
  display: grid;
  grid-template-areas:
    "header header"
    "form game1"
    "form game2";
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  background-color: #2196F3;
  padding: 5px;
}
.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
}
.container > div.form {
  grid-area: form;
}
.container > div.game1 {
  grid-area: game1;
}
.container > div.game2 {
  grid-area: game2;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  margin-bottom: 0;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 1.5rem;
  padding: 0.7rem 1.2rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #ff0000;
}